# Gradle
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

# Build output directies
/target
*/target
/build
*/build

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
/out/
/*/out/

# Eclipse
.classpath
.project
.settings/
